---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			
		</style>
	</head>

	<body class="h-lvh overflow-hidden bg-[url('/patterns/16.svg')]">
		<Header />
		<main class="max-w-5xl mx-auto px-4 h-[calc(100vh-124px)]">
			<article class="border mt-[40px] h-full bg-white flex flex-col drop-shadow-[3px_3px_0_rgba(0,0,0,1)]">
				<div class="border-b py-1 px-4 flex items-center gap-4">
					<a href="/blog">
					<div class="size-[14px] border hover:bg-black"></div>
				</a>
				  <h1 class="uppercase "><FormattedDate date={pubDate} /></h1>
				  <div class="flex-grow flex-col gap-[2px]">
					<div class="border-t mb-[2px]"></div>
					<div class="border-t mb-[2px]"></div>
					<div class="border-t mb-[2px]"></div>
					<div class="border-t mb-[2px]"></div>
					<div class="border-t "></div>
				  </div>
				</div>
				<div class="overflow-y-auto flex-1 px-4 lg:px-8 py-6">
					<div class="hero-image">
						{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
					</div>
					<div class=" font-mono">
						<div class="title">
							
							<h1 class="font-sans text-3xl uppercase mb-2">{title}</h1>
							<p class="text-lg mb-6">{description}</p>
							<hr class="mb-6 border-dashed">
						</div>
						<div class="prose min-w-full text-black">
						<slot />
					</div>
					</div>
					</div>
			</article>
		</main>
		
	</body>
</html>
